<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/frontend/asset/css/index.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">DineTable</div>
        <div class="main-menu">
            <a href="/frontend/index.html" class="menu-item">
                Home
                <i class="fa-solid fa-house"></i>
            </a>
            <a href="/frontend/pages/reserve/reserve.html" class="menu-item">
                Reserve
                <i class="fa-solid fa-clipboard-list"></i>
            </a>
            <a href="/frontend/pages/admin/assignment.html" class="menu-item">
                Assignment
                <i class="fa-solid fa-clipboard-list"></i>
            </a>
        </div>
        <div class="side-menu">
            <a href="/frontend/pages/admin/login.html" class="menu-item">
                Admin
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
            </a>
        </div>
    </div>
</body>
</html>