<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navbar">
        <div class="logo">DinerHub</div>
        <div class="main-menu">
            <a href="#">
                หน้าหลัก
                <i class="fa-solid fa-house"></i>
            </a>
        </div>
        <div class="side-menu">
            <a href="#">
                Admin
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
            </a>
        </div>
    </div>
</body>
</html>